[submodule "tests/data/interpreter"]
	path = tests/data/interpreter
	url = git@github.com:craft-ai/craft-ai-interpreter-test-suite.git
[submodule "src/vendor/yajl"]
	path = src/vendor/yajl
url=git@github.com:craft-ai/yajl.git
